# Metadata

```yaml
Course:   DS 5001
Module:   08a Lab
Topic:    Using Mazo
Author:   R.C. Alvarado
Date:     23 March 2023
```

**Purpose:** Demonstrate utility of Mazo output.

# Synopsis

1. Download and install mazo https://github.com/ontoligent-design/mazo
2. Set up your project directory and put in appropriate files and diretories
3. Run mazo to generate topic models

# Set Up

## Config

In [32]:
!ls -l output/

total 0
drwxr-xr-x@ 12 rca2t1  staff  384 Mar 23 13:44 demo-20-16795933002483132
drwxr-xr-x@ 12 rca2t1  staff  384 Mar 23 13:32 novels-20-16795927188712971

In [20]:
model_id = 'novels-20-16795927188712971'

In [35]:
mazo_tables = f"./output/{model_id}/tables/*.*"
db_file = f"./{model_id}.db"

## Imports

In [33]:
import pandas as pd
import numpy as np
from glob import glob
import sqlite3

# Import Model Tables

In [26]:
class Model: pass
model = Model()

In [38]:
db = sqlite3.connect(db_file)

In [39]:
for tfile in glob(mazo_tables):
    tname = tfile.split('/')[-1].split('.')[0]
    print(tname)
    df = pd.read_csv(tfile)
    df.to_sql(tname, db)
    setattr(model, tname, df)

TOPIC
TOPICWORD_DIAGS
TOPICPHRASE
DOCTOPIC_NARROW
VOCAB
DOCTOPIC
TOPICWORD
PHRASE
TOPICWORD_NARROW
DOCWORD
DOC

In [30]:
model.TOPICWORD_NARROW

       word_id  topic_id  word_count
0            0         7          11
1            1         8         178
2            1         7          37
3            2         8         599
4            2         7         272
...        ...       ...         ...
60543    26792         6           1
60544    26793         1           1
60545    26794         1           1
60546    26795         1           1
60547    26796         6           1

[60548 rows x 3 columns]

In [42]:
model.DOCTOPIC.set_index('doc_id')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
doc_id,,,,,,,,,,,,,,,,,,,,
0,0.022766,0.009205,0.002741,0.003566,0.010347,0.146695,0.053455,0.005996,0.009272,0.006009,0.263483,0.021613,0.108620,0.087462,0.017092,0.008668,0.007196,0.005281,0.202927,0.007605
1,0.000038,0.004022,0.000005,0.000006,0.000017,0.332799,0.222794,0.159609,0.162620,0.000010,0.041174,0.000036,0.046258,0.019845,0.010713,0.000014,0.000012,0.000009,0.000005,0.000013
2,0.000679,0.000015,0.005783,0.000006,0.000017,0.380332,0.118224,0.031791,0.378827,0.000010,0.047293,0.000035,0.009805,0.027107,0.000027,0.000014,0.000012,0.000008,0.000005,0.000012
3,0.001789,0.016114,0.000006,0.000008,0.000022,0.447470,0.095375,0.177482,0.196193,0.000013,0.021016,0.000482,0.038514,0.000190,0.003082,0.002194,0.000016,0.000011,0.000006,0.000017
4,0.008816,0.022592,0.000004,0.000006,0.000016,0.372447,0.040222,0.021019,0.326449,0.000009,0.117691,0.005365,0.075115,0.000764,0.009434,0.000014,0.000011,0.000008,0.000004,0.000012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,0.000054,0.000022,0.000006,0.036312,0.377205,0.014961,0.002955,0.000014,0.000022,0.000014,0.019480,0.014667,0.422227,0.111946,0.000040,0.000020,0.000017,0.000012,0.000007,0.000018
317,0.025550,0.003214,0.000009,0.000011,0.268823,0.003015,0.001444,0.000019,0.000030,0.000019,0.010393,0.038285,0.536015,0.112380,0.000054,0.000665,0.000023,0.000017,0.000009,0.000024
318,0.306330,0.000044,0.000013,0.000017,0.244069,0.002615,0.000256,0.000029,0.000044,0.000029,0.001260,0.000103,0.285688,0.159270,0.000082,0.000041,0.000034,0.000025,0.000014,0.000036
319,0.283570,0.000111,0.000033,0.000043,0.256785,0.035674,0.005489,0.009758,0.000112,0.000073,0.008031,0.065637,0.277345,0.047063,0.000207,0.000105,0.000087,0.009749,0.000034,0.000092
320,0.049885,0.288852,0.000005,0.000006,0.011967,0.000592,0.053352,0.016398,0.000016,0.000010,0.266069,0.066271,0.062664,0.183147,0.000029,0.000015,0.000012,0.000692,0.000005,0.000013

In [45]:
model.TOPICWORD.set_index('word_id')

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
word_id,,,,,,,,,,,,,,,,,,,,
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001150,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003868,0.009956,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.028437,0.033503,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
3,0.000263,0.000000,0.000635,0.002932,0.000000,0.003044,0.002646,0.000209,0.000000,0.0,0.0,0.0,0.001078,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
4,0.000394,0.000357,0.000000,0.000000,0.000654,0.000000,0.000226,0.000627,0.000447,0.0,0.0,0.0,0.000381,0.0,0.000105,0.0,0.0,0.0,0.0,0.000101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26792,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000032,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
26793,0.000000,0.000089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
26794,0.000000,0.000089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
26795,0.000000,0.000089,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000
26796,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000032,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000